freezegun
pretend
# Pinned to 2.7.2 to avoid an issue with parallel builds
pytest
pytest-capturelog
# Pinned to 0.5 to stay compatible with pytest==2.7.2
pytest-timeout
pytest-xdist
mock<1.1
scripttest>=1.3
https://github.com/pypa/virtualenv/archive/master.zip#egg=virtualenv
